<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443662369375-31gg0ni4s53ku4ojh257luif84c3r3uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443662369375-31gg0ni4s53ku4ojh257luif84c3r3uj</string>
	<key>API_KEY</key>
	<string>AIzaSyCh0FWXlrus_P5bQ84GPguF5tint0qi10o</string>
	<key>GCM_SENDER_ID</key>
	<string>443662369375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markith.Floating-Map-Menu</string>
	<key>PROJECT_ID</key>
	<string>nomad-3443c</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-3443c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443662369375:ios:c6b2b89e88a756b1</string>
	<key>DATABASE_URL</key>
	<string>https://nomad-3443c.firebaseio.com</string>
</dict>
</plist>